# How-to-count-distance-to-the-previous-zero

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
p=[]
counter=1

In [5]:
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [6]:
for i in df.index: 
    j=0
    if (df['X'][i] != 0):
        p.append(counter)
        counter = counter+1
    else:
        p.append(0)
        counter = 1

In [7]:
p

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

# Create a DatetimeIndex that contains each business day of 2015 and use it to index a series of random numbers

In [8]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)

In [9]:
s.head()

2015-01-01    0.744745
2015-01-02    0.159663
2015-01-05    0.471892
2015-01-06    0.550125
2015-01-07    0.676891
Freq: B, dtype: float64

# Find the sum of the values in s for every Wednesday

In [10]:
s[s.index.weekday == 2].sum()

25.300703754166864

# Average For each calendar month

In [11]:
s.resample('M').mean()

2015-01-31    0.490576
2015-02-28    0.499906
2015-03-31    0.492249
2015-04-30    0.620190
2015-05-31    0.574913
2015-06-30    0.547378
2015-07-31    0.493767
2015-08-31    0.555403
2015-09-30    0.533310
2015-10-31    0.504308
2015-11-30    0.428910
2015-12-31    0.494072
Freq: M, dtype: float64

# For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [12]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-22
2015-05-31   2015-05-06
2015-09-30   2015-06-29
2016-01-31   2015-10-16
Freq: 4M, dtype: datetime64[ns]